body{
    font-size: 18px;
    color: white;
}
.wrapper{
    background: rgb(143, 147, 129);
    display: flex;
    flex-direction: column;
}
.container{
    margin: 0 auto;
}

h1{
    font-size: 40px;
    margin: 0 0 50px 0;
    color: rgb(35, 15, 164);
}
h2{
    font-size: 32px;
    color: blueviolet;
}